In [1]:
1/0 # dzielenie przez zero generuje błąd

ZeroDivisionError: division by zero

In [5]:
people = {1: 'Adam', 2: 'Tom', 4: 'Ann'}

In [6]:
people.get(3)

In [7]:
people[3] # nie ma klucza o numerze 3 więc wyskakuje error

KeyError: 3

In [10]:
try:
    people[3]
except Exception as ex:
    print('Cannot get value: {}'.format(ex))

Cannot get value: 3

In [15]:
try:
    people[3]
except KeyError as ex:
    print('Cannot get value: {}'.format(ex))
except Exception as ex:
    print('Some other error: {}'.format(ex))
finally:
    print('Checking finished.')

Cannot get value: 3
Checking finished.

# Dziedziczenie / Inheritance

In [16]:
class Human:
    species = 'homo-sapiens'

    def __init__(self, age, name, surname, weight):
        self.age = age
        self.name = name
        self.surname = surname
        self.weight = weight
        
    def say_hello(self):
        print('Hello I\'m {}'.format(self.name))
        
    @property
    def full_name(self):
        return "{name} {surname}".format(name=self.name, surname=self.surname)
    
    def __str__(self):
        return self.full_name
    
    def __repr__(self):
        return '{class_name} with full name: {full_name}'.format(class_name=self.__class__, full_name=self.full_name)
    
    def __gt__(self, other):
        return self.age > other.age

In [17]:
class ModernHuman(Human):
    def __init__(self, age, name, surname, weight, facebook_account):
        super().__init__(age, name, surname, weight)
        self.facebook_account = facebook_account
        
        
x_youtuber = ModernHuman(21, 'Tom', 'Random', 91, 'http://facebook.com/32')

In [18]:
Human.say_hello(x_youtuber)

Hello I'm Tom

In [20]:
x_youtuber.say_hello()

Hello I'm Tom

# Pickle

In [21]:
import pickle

In [22]:
ania = Human(20, 'Anna', 'Nowak', 54)

In [23]:
ania

<class '__main__.Human'> with full name: Anna Nowak

In [24]:
pickle.dump

In [26]:
with open('human.pickle', 'wb') as pickle_file: # wb = write binary
    pickle.dump(ania, pickle_file)

In [33]:
# Context manager

with open('human.pickle', 'rb') as pickle_file: # rb = read binary
    tmp_read = pickle.load(pickle_file)
    
print(tmp_read)

Anna Nowak

#### Alternatywne otwieranie
- gorsza wersja, trzeba pamiętać o zamknięciu pliku

In [ ]:
file_descriptor = open('human.pickle', 'rb')
file_descriptor.close()

# Not to do
- Nie nadpisywać pythonowych zmiennych, np. nie definiować zmiennej 'str' = 5, bo to nadpisze funkcję str.

# Args

In [35]:
def multiply(x, y):
    print(x * y)

In [37]:
multiply(4, 5)

20

In [41]:
def multiply(*args):
    z = 1
    print(args)
    print(type(args))
    for num in args:
        z *= num
    print(z)

In [42]:
multiply(5, 1, 9, 10)

(5, 1, 9, 10)
<class 'tuple'>
450

# Kwargs

In [51]:
def print_values(first_param = 3, **kwargs):
    for key, value in kwargs.items():
        print('The value of {} is {}.'.format(key, value))
    
    print('First param {}'.format(first_param))

In [52]:
print_values(first_param = 4, x = 4, z = 5)

The value of x is 4.
The value of z is 5.
First param 4

In [53]:
print_values(x = 4, y = 4, z = 5)

The value of x is 4.
The value of y is 4.
The value of z is 5.
First param 3

# Lambda

In [54]:
input_table = [i for i in range(10)]

In [55]:
input_table

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [56]:
def convert_to_str(in_param):
    return str(in_param)

In [57]:
[convert_to_str(i) for i in input_table]

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [58]:
[str(i) for i in input_table]

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [59]:
def if_even_multiply(in_param):
    if in_param % 2 == 0:
        return in_param * 2
    return in_param

In [60]:
if_even_multiply(4)

8

In [61]:
if_even_multiply(3)

3

In [62]:
[if_even_multiply(i) for i in input_table]

[0, 1, 4, 3, 8, 5, 12, 7, 16, 9]

In [65]:
if_even_multiply2 = lambda x: x*2 if x % 2 == 0 else x

In [66]:
if_even_multiply2(2)

4

In [68]:
[(lambda x: x*2 if x % 2 == 0 else x)(i) for i in input_table]

[0, 1, 4, 3, 8, 5, 12, 7, 16, 9]

In [69]:
input_table

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [70]:
list(filter(lambda x: True if x % 2 == 0 else False, input_table))

[0, 2, 4, 6, 8]

In [71]:
list(filter(lambda x: x % 2 == 0, input_table))

[0, 2, 4, 6, 8]

In [72]:
list(filter(lambda x: x > 5, input_table))

[6, 7, 8, 9]

In [73]:
def fi(n):
    if n == 0: return 0
    elif n == 1: return 1
    else: return fi(n-2) + fi(n-1)
    
scrum_points = [fi(i) for i in range (8)]
scrum_points

[0, 1, 1, 2, 3, 5, 8, 13]

In [74]:
from functools import reduce

In [75]:
input_table = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [76]:
input_table

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [77]:
reduce(lambda x, y: x * y, input_table)

362880

#### Zadanie

In [78]:
reduce(lambda x, y: x + y, scrum_points)

33

# Regex

In [235]:
import re

In [80]:
x = "first second third"

In [81]:
x.split()

['first', 'second', 'third']

In [82]:
y = "first, second, third"
y.split(',')

['first', ' second', ' third']

In [83]:
separator = ','

In [85]:
re.split(separator, y)

['first', ' second', ' third']

In [86]:
z = "Merry christmas 2017, 2018 and 2019 Merry"

In [88]:
re.findall('Merry', z)

['Merry', 'Merry']

In [92]:
re.search("[a-z]+", z)

In [93]:
p = re.search("[a-z]+", z)

In [94]:
p.group(0)

'erry'

In [95]:
r = re.search("[A-Z][a-z]+",z)

In [96]:
r.group()

'Merry'

#### Zadanie

In [253]:
domena = 'https://www.wp.pl'

In [254]:
def print_domain(in_adr):
    domain = domena[-3:]
    return print(domain) # domain ex. .pl / .de / .eu etc.

In [255]:
print_domain(domena)

.pl

In [256]:
def znajdz_domene(in_addr):
    try:
        result = re.search('\.\w+$', in_addr).group(0)
    except AttributeError:
        print('No domain found.')
    
    return re.search('\.\w+$', in_addr).group(0)

In [257]:
znajdz_domene(domena)

'.pl'

In [238]:
re.search('^https://', domena)

In [239]:
re.Match?

In [240]:
re.search('^https://', "https://wp.pl").group(0)

'https://'

In [226]:
re.Match?

In [261]:
addreses = "http://www.wp.pl\nhttp://www.o2.pl\nhttp://www.google.com"
print(addreses)

http://www.wp.pl
http://www.o2.pl
http://www.google.com

# Pandas

In [262]:
import pandas as pd

## Typy danych Pandas
- Serie
- DataFrame

In [263]:
from pandas import Series

In [272]:
seria1 = Series([1, 2, 3, 5, 8, 13, 21]).sum()
print(seria1)

53

In [270]:
print(pd.Series([1, 2, 3, 5, 8, 13, 21]))

0     1
1     2
2     3
3     5
4     8
5    13
6    21
dtype: int64

In [268]:
seria2 = Series([400, 300, 200], index = ['Poland', 'Germany', 'Spain'], name = 'Countries')
print(seria2)

Poland     400
Germany    300
Spain      200
Name: Countries, dtype: int64

In [278]:
miejscowosci = Series(['Warszawa', 'Berlin', 'Madryt'], index = ['Poland', 'Germany', 'Spain'], name = 'Miasta')
print(miejscowosci)

Poland     Warszawa
Germany      Berlin
Spain        Madryt
Name: Miasta, dtype: object

In [279]:
xa = pd.concat([seria2, miejscowosci], axis = 1)
xa

         Countries    Miasta
Poland         400  Warszawa
Germany        300    Berlin
Spain          200    Madryt

In [280]:
xa.rename(columns='dupa')

TypeError: 'str' object is not callable

In [281]:
from pandas import DataFrame

In [282]:
DataFrame(data = {'a': ['val'], 'b': ['dal']})

     a    b
0  val  dal

### Zadanie 
* Stworz słownik opisujący poprzedzające dni: temperatura, wilgotność,
* Na podstawie słownika stwórz DataFrame

In [291]:
# ramka = DataFrame(data={'col1': seria, 'col2': seria ** 2})

dni = Series(['poniedzialek','wtorek','sroda','czwartek','piatek','sobota'])
temperatury = Series([2.5, 4.5, -0.5, 2.3, 0.0, -1.0])
wilgotnosc = Series(['80%', '90%', '83%', '95%''88%', '91%'])
slownik = {'Dzień': dni, 'Temperatura': temperatury, 'Wilgotność': wilgotnosc}

ramka = DataFrame(data=slownik)

In [292]:
ramka

          Dzień  Temperatura Wilgotność
0  poniedzialek          2.5        80%
1        wtorek          4.5        90%
2         sroda         -0.5        83%
3      czwartek          2.3     95%88%
4        piatek          0.0        91%
5        sobota         -1.0        NaN

### Zadanie rozgrzwkowe 2
* Wygeneruj DataFrame z losowymi wartościami wagi oraz wzrostu, przyjmijmy że zasilamy rozkładem normalnym - 250 wartości
    * Wzrost ma wartośc oczekiwaną 168 cm a odchylenie standardowe 6 cm
    * Waga ma wartość oczekiwaną 60 kg a odchylenie standardowe 1.5 kg
* Dodaj kolumnę liczącą BMI,
* Wyniki posortuj - po BMI malejąco,
* Zapisz top 3 do osobnej zmiennej,
* 
* __**Dla chetnych**__ Dodaj kolumny z imieniem i nazwiskiem - Losowane (Mimo rodo) np. Faker ?

In [348]:
import random
import numpy as np

In [358]:
wagi = np.random.normal(60, 1.5, 25)
wzrosty = np.random.normal(168, 6, 25)

print(wagi)
print(wzrosty)

[61.88874408 61.00709662 60.51475095 62.61874168 60.72447587 59.37912185
 61.70042977 59.83825517 59.49643139 61.49414853 58.61002786 60.51530242
 59.10154498 59.90026451 64.01792751 60.59133485 60.83350018 60.1215909
 62.05292065 57.66881925 59.1038831  60.21651404 63.11112624 62.67594473
 61.87520092]
[159.76363002 174.08273258 151.28121958 161.83127513 160.12058502
 157.71523349 182.44497059 170.64650529 176.20720981 174.79669272
 160.3335162  165.94747514 160.42646389 178.67099423 179.73325138
 166.42218372 176.96925492 169.33759422 173.47200639 170.38231959
 163.87397637 167.58298221 160.47170623 174.28971384 162.80496188]

In [366]:
def bmi(a,b):
    bmi_lista = []
    for i in range(len(a)):
        x = a[i] / (b[i]/100)**2
        bmi_lista.append(round(x,2))
    return bmi_lista

In [368]:
print(bmi(wagi, wzrosty))

[24.25, 20.13, 26.44, 23.91, 23.68, 23.87, 18.54, 20.55, 19.16, 20.13, 22.8, 21.97, 22.96, 18.76, 19.82, 21.88, 19.42, 20.97, 20.62, 19.87, 22.01, 21.44, 24.51, 20.63, 23.34]

In [369]:
waga_seria = Series(wagi, dtype = int)
wzrost_seria = Series(wzrosty, dtype = int)
# ramka['col3']  = Series([None, 1, None, -4])
slownik2 = {'Waga': waga_seria, 'Wzrost': wzrost_seria}

ramka = DataFrame(data=slownik2)
ramka

    Waga  Wzrost
0     61     159
1     61     174
2     60     151
3     62     161
4     60     160
5     59     157
6     61     182
7     59     170
8     59     176
9     61     174
10    58     160
11    60     165
12    59     160
13    59     178
14    64     179
15    60     166
16    60     176
17    60     169
18    62     173
19    57     170
20    59     163
21    60     167
22    63     160
23    62     174
24    61     162

In [371]:
ramka['BMI'] = Series(bmi(wagi,wzrosty))
ramka

    Waga  Wzrost    BMI
0     61     159  24.25
1     61     174  20.13
2     60     151  26.44
3     62     161  23.91
4     60     160  23.68
5     59     157  23.87
6     61     182  18.54
7     59     170  20.55
8     59     176  19.16
9     61     174  20.13
10    58     160  22.80
11    60     165  21.97
12    59     160  22.96
13    59     178  18.76
14    64     179  19.82
15    60     166  21.88
16    60     176  19.42
17    60     169  20.97
18    62     173  20.62
19    57     170  19.87
20    59     163  22.01
21    60     167  21.44
22    63     160  24.51
23    62     174  20.63
24    61     162  23.34

In [413]:
ramka_top3bmi = ramka.sort_values(by='BMI', ascending = False).head(3)

In [414]:
type(ramka_top3bmi)

pandas.core.frame.DataFrame

In [415]:
ramka_top3bmi

    Waga  Wzrost    BMI
2     60     151  26.44
22    63     160  24.51
0     61     159  24.25

    Waga  Wzrost    BMI
2     60     151  26.44
22    63     160  24.51
0     61     159  24.25